div#artitalk_main {
  margin: 50px auto;
  background-color: #fff;
  padding: 10px;
}

#artitalk_main .power {
  margin: 10px 10px 0 0;
}

#operare_artitalk .shuoshuo_input_log {
  width: unset;
  height: unset;
}


@media only screen and (min-width: 993px) {
  div#artitalk_main {
    width: 800px;
  }
}