/* Here is your custom css styles. */
/*****************************************************赤蓝紫*************************************/

body {
    background-color: black;
}

.veditor {
    min-height: 12.75em !important;
}

.line {
    color: #fff;
}

.gutter {
    display: none;
}

#tag-wordcloud_word_1 {
    margin-right: 10px;
}

.vcode {
    width: 4.6em !important;
    height: 2.3em !important;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#articleContent table td,
#vcomments table,
th,
td {
    border: 0;
}

.wechat:hover {
    position: relative;
}

.wechat:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-52%, -126%);
    background: url('../medias/social/wechat.jpg');
    background-size: 80px;
}

.row {
    margin-bottom: 0;
}

.page-footer {
    position: relative;
    bottom: -20px;
}

/* 歌词样式覆盖 */
#aplayerContent .aplayer.aplayer-fixed .aplayer-lrc {
    left: unset;
    right: 90px;
}

#aplayerContent .aplayer.aplayer-fixed .aplayer-lrc {
    text-shadow: none;
}

/* 图片加载样式 */
.preview-img {
    position: absolute !important;
    opacity: .7 !important;
    transition: opacity 2s ease-in-out;
}

.real-img {
    opacity: 0 !important;
    transition: opacity 2s ease-in-out;
}

.hidden {
    opacity: 0 !important;
}

.show {
    opacity: .7 !important;
}

/* 备案链接 */
.icp-link {
    position: relative;
    top: 2px;
}

.country-flag {
    margin-top: 10px;
}